---
const year = new Date().getFullYear();
---
<div class="flex items-center justify-between">
  <div>&copy; {year} Rachid Sassine</div>
  <div class="space-x-3">
    <a href="https://github.com/RachidSassine" class="underline">GitHub</a>
    <a href="mailto:contact@example.com" class="underline">Email</a>
  </div>
</div>
